<head>
  <meta charset="utf-8">
    <!-- Page title -->
  <title>Syndicate Business Advisory - HTML5 Template</title>
    <!-- Project favicon link -->
    {{ setting }}
    {{ favicon }}<link rel="icon" href="{{ url }}" type="image/gif">{{ /favicon }}
    {{ /setting }}
    <!-- All device viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts style file -->
    <link rel="stylesheet" href="{{ theme:asset src='assets/css/all-fontawesome.min.css' }}">

    <!-- Custom Libraries style start -->
    <!-- bootstrap style file -->
    <link rel="stylesheet" type="text/css" href="{{ theme:asset src='assets/css/bootstrap.min.css' }}">
    <!-- Swiper Bundle slider style file -->
    <link rel="stylesheet" type="text/css" href="{{ theme:asset src='assets/css/swiper-bundle.min.css' }}">
    <!-- Aos animation style file -->
    <link rel="stylesheet" type="text/css" href="{{ theme:asset src='assets/css/aos.css' }}">
    <!-- Magnific Popup style file -->
    <link rel="stylesheet" type="text/css" href="{{ theme:asset src='assets/css/magnific-popup.css' }}">
    <!-- Custom Libraries style end -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">


    <!-- Custom style file -->
    <link rel="stylesheet" type="text/css" href="{{ theme:asset src='assets/css/style.css' }}">
    <!-- Custom responsive style file -->
    <link rel="stylesheet" type="text/css" href="{{ theme:asset src='assets/css/responsive.css' }}">


    <!-- Use this minifiy css for project speeded loading -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.min.css"> -->

</head>